*{
  margin:0;
  box-sizing: border-box;
  padding:0;  
}
.header{
   width: 100%;
   height: 200px; 
   background-color: aquamarine;
}
.menu-container{
    position:absolute;
    background-color: white;
    margin:10px;
    width: 100px;
    height: 100px;
    display: block;
    border:1px solid black;
    border-radius: 10px;
}
.linhas:nth-child(1){
    background-color: black;
    position: absolute;
    top: 10px;
    width: 80px;
    height: 2px;
    
}
.linhas:nth-child(2){
    background-color: black;
    position: absolute;
    right: 20px;
    top: 40px;
    width: 80px;
    height: 2px;
}   
.linhas:nth-child(3){
    position: absolute;
    background-color: black;        
    top:80px;
    width: 80px;
    height: 2px;
}

.main{
  width: 50%;
  height: 500px;
  background-color: beige;
  float: left;
}
.article{
 width: 50%;
 height: 500px;
 background-color: blueviolet; 
 float: right;  
}
.footer{
    width: 100%;
    height: 150px;
    background-color: red;
    clear:both;
}